<title>Wrong Link</title>
{% extends 'navbar.html' %}
{% block content %}
<body>
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold">404</h1>
            <p class="fs-3"> <span class="text-danger">Opps!</span> Page not found.</p>
            <p class="lead">
                The page you’re looking for doesn’t exist.
              </p>
              <p class="lead">
                you can put any text in the subdomain and the 404 error will still pop up 
              </p>
            <a href="{% url 'home' %}" class="btn btn-primary">Go Home</a>
        </div>
    </div>
</body>
{% include 'contact_details.html' %} 
{% endblock %}

