<hr>
<div style="text-align:center;">
  <a href="https://www.linkedin.com/in/ahmad-aizudeen-japri-5461ba1a9/" target=blank class="fa fa-linkedin fa-lg"></a>
  <a href="https://www.instagram.com/aizudeen_japri/" target=blank class="fa fa-instagram fa-lg"></a>
  <a href="https://www.facebook.com/profile.php?id=100004511826643" target=blank class="fa fa-facebook fa-lg"></a>
  <a href="https://github.com/aizudeen11" target=blank class="fa fa-github fa-lg"></a>
</div>          
<div style="text-align:center;">
  Contact Number: 018-302 6652 | <a target=blank href="http://wa.link/vdq4r3">Whatsapp</a>
  <br>
  Email Address: <a href="mailto:aizudeenjapri@gmail.com">aizudeenjapri@gmail.com</a>
</div>