{% extends 'navbar.html' %}
{% block content %}
{% if request.user.is_superuser %}
<div class="container">
<form action="" method="POST">
    {% csrf_token %}
    <p>are you sure you want to delete "{{obj}}"?</p>
    <a href="{{request.META.HTTP_REFERER}}">Go back</a>
    <!-- SEND THE USER WHER IT CAME FROM -->
    <input type="submit" value="Confirm">
</form>
</div>
{% else %}
<div class="container">
<p>opps, sorry you do not have access</p>
</div>
{% endif %}
{% include 'contact_details.html' %} 
{% endblock %}