<body style="scroll-behavior: smooth;">
    {% extends 'navbar.html' %}
    {% block content %}
    
    <div style="background-color:#eee;padding:10px 20px; margin: 15px;">
        <h2 style="text-align:center; ">AHMAD AIZUDEEN BIN JAPRI</h2>
    </div>
    <div style="padding:0px 0px">
    
        <div>
            <div class="container">
                <hr>
                <h3 style="text-align:center; ">About</h3>
                <p style="text-align: justify;">Have data analyst and data science experience with Microsoft Excel and the Python programming language formachine learning, statistical analysis, 
                    data collection or data mining, data cleaning, data visualization, and other tasks. Have working knowledge of various Python modules such as 
                    BeautifulSoup and Selenium for web scraping, Pandas for working with data sets, and also the web framework Django for web development. A graduate 
                    with a broad understanding of business management and economics who is able to apply economic theories to data analysis in order to make data-driven 
                    decision-making. Have working experience relating to administrating as well as management and willing to work with new environments and experiences.</p>
                <hr>
                <h3 style="text-align:center; ">Working Experience</h3>
                <h3 class="experience">Concentrix</h3>
                <h4>Technical Support Specialist</h4>
                <p>Jul 2022 - Dec 2022 (6 months)</p>
                <h3 class="experience">SAM Parit Baru</h3>
                <h4>Substitute Teacher</h4>
                <p>Apr 2022 - May 2022 (2 months)</p>
                <h3 class="experience">Celcom Axiata Berhad</h3>
                <h4>Site Specialist</h4>
                <p>Jan 2022 - Mar 2022 (3 months)<br>• Assess and evaluate site telecommunication coverage problem<br>
                    • Provide an alternative solution for coverage issues to the area<br>
                    • Keep in touch with a contractor to install relevant telecommunication hardware</p>
                <h4>Procurement Assistant</h4>
                <p>Aug 2021 - Jan 2022 (6 months)<br>I was placed to the Ministry of Education's office to:<br>
                    • Assess the company's ability in terms of financial and technical competence to deliver products and services.<br>
                    • Participate in the company selection process by recommending the best company to the committee
                    members during the evaluation meeting.<br>
                    • Assisting in preparing documents for the evaluation meeting as well as a contract for the chosen
                    company.</p>
                <h4>Telecommunications Administrator</h4>
                <p>Jul 2021 - Aug 2021 (2 months)<br>
                    I was placed to the Ministry of Education's office to:<br>
                    • Administering and supervising Celcom telecommunication services for all Malaysian schools including
                    complaints and billings.</p>
                <h4>Teaching Assistant</h4>    
                <p>Mar 2021 - Jul 2021 (5 months)<br>
                    I assisted a lecturer in delivering a lecture via the UiTM Postgraduate Teaching Assistance (UPTA)
                    program for 14 weeks. The job includes:<br>
                    • Teaching Operation Management subject of diploma and degree students.<br>
                    • Grading of assignments and quizzes of the students.</p>
                <h3>Pejabat Pendidikan Daerah Sabak Bernam</h3>
                <h4>Internship Trainee</h4>
                <p>Feb 2020 - May 2020 (4 months)<br>
                    • Organize and manage files including classified documents to be stored in its folder.<br>
                    • Manage large and small meetings either meeting between PPD and schools or internal meetings.<br>
                    • Represent my office to the school event.</p>
                <hr>
                <h3 style="text-align:center; ">Education</h3>
                <h4>Universiti Teknologi MARA</h4>
                <p>Bachelor of Business Administration - BBA, Business/Managerial Economics<br>
                    2017 - 2020<br>
                    • First Class with CGPA of 3.53<br>
                    • Faculty Executive Committee for 4 semester<br>
                    • Active in university sport-related tournaments such as badminton and volleyball<br>
                    • Dean's List for 3 semester</p>
                <h4>Malacca Matriculation College</h4>
                <p>Accounting Course<br>
                    2016 - 2017<br>
                    • First Class with CGPA of 3.75<br>
                    • President of Outdoor Activities</p>
                <hr>
                <h3 style="text-align:center; ">Skills</h3> 
                <p style="text-align: justify;">Data Analytics • Data Visualization • Microsoft Office • Data Science • Analytical Skills • Team Building
                    • Problem Solving • Business Administration • Economic Policy • Econometrics</p>           
            </div>
        {% include 'contact_details.html' %} 
    </div>
    {% endblock %}
</body>

